.lgnav {
    display: none;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

.smnav {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.smHead {
    width: fit-content;
    margin: auto;
    display: flex;
}

.dropdown {
    display: block;
    width: 100%;
}

.dropdownItem {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: x-large;
    display: block;
    margin: 0.5rem;
    text-align: center;
}

.logo {
    max-height: 15vh;
    margin: 1rem;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.logo:hover {
    cursor: pointer;
    opacity: 0.7;
}

.name {
    margin: auto 0;
    font-size: larger;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-family: Bradley Hand, cursive;
}
.name:hover {
    color: #4d4d4d;
}

.arrow {
    margin: auto 0;
}

.navItems {
    margin: auto 0 auto auto;
}

.navItem {
    margin-right: 0.5rem;
    padding: 0.5rem;
    background-color: #84bf9c;
    color: white;
    border-radius: 5px;
    border: 1px solid black;
    /* box-shadow: 5px 5px 0px black; */
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    /* color: white; */
}

.navItem:hover {
    background-color: #7db593;
}

@media only screen and (min-width: 839px) {
    .lgnav {
        display: flex;
    }

    .smnav {
        display: none;
    }
}
